.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.wrapper {
  width: 50%;
  height: auto;
  border: 1px solid #353533;
  border-radius: 4px;
  background: #1f1f1f;

}

.title {
  text-align: center;
  color: #add8e6;
  font-family: cursive;
  width: 100%;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #add8e6;
  margin: auto;
}

.InputWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form {
  margin-top: 30px;
}

.nameDiv {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.nameLabel {
  width: 40%;
  text-align: left;
  margin-right: 4px;
  text-transform: uppercase;
  color: #add8e6;
}

.nameInput {
  width: 40%;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: .25rem;
  height: 26px;
}

.phoneDiv {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.phoneLabel {
  width: 40%;
  text-align: left;
  margin-right: 4px;
  text-transform: uppercase;
  color: #add8e6;
}

.phoneInput {
  width: 72%;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: .25rem;
  height: 26px;
}

.emailDiv {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.emailLabel {
  width: 40%;
  text-align: left;
  margin-right: 4px;
  text-transform: uppercase;
  color: #add8e6;
}

.emailInput {
  width: 72%;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: .25rem;
  height: 26px;
}

.Button {
  margin-top: 30px;
  width: 40%;
  height: 29px;
  background: #add8e6;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

.Button:hover {
  background: #9cddf3c4;
  cursor: pointer;
}

.contacts {
  width: 100%;
  height: auto;
  margin-top: 70px;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add {
  width: 97px;
  height: 30px;
  background: #add8e6;
  border: none;
  border-radius: 4px;
  margin-left: 4px;
  font-size: 10px;
}

.add:hover {
  background: #9cddf3c4;
  cursor: pointer;
}

.holder {
  display: flex;
  width: 40%;
}

.phoneText {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.emailText {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.numberText {
  color: #94d490;
  margin-top: 10px;
}

.adressText {
  color: #94d490;
  margin-top: 10px;
}

.emailHolder {
  display: flex;
  width: 40%;
}

.addEmail {
  width: 97px;
  height: 30px;
  background: #add8e6;
  border: none;
  border-radius: 4px;
  margin-left: 4px;
  font-size: 10px;
}

.addEmail:hover {
  background: #9cddf3c4;
  cursor: pointer;
}

.li {
  color: #add8e6;
  margin: 3px 0px 3px 0px;
  border: 1px solid #add8e6;
  padding: 8px;
  width: 55%;
}

.li:hover {
  font-weight: bold;
  cursor: pointer;
}

.detailWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user {
  width: 50%;
  height: auto;
  border: 1px solid #1f1f1f;
  border-radius: 4px;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactInfo {
  text-align: center;
  color: #add8e6;
  font-family: cursive;
  width: 100%;
  padding: 15px 0px 15px 0px;
  margin: auto;
  width: 50%;
  background-color: #1f1f1f;
  border-bottom: 1px solid #add8e6;
  margin-top: 50px;
}

.contactName {
  display: flex;
  justify-content: center;
  height: auto;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.name {
  color: #add8e6;
  font-size: 19px;
}

.back {
  width: 50%;
  height: 40px;
  background: #1f1f1f;
  border: none;
  border-top: 1px solid #add8e6;
  border-radius: 4px;
  color: #add8e6;
  text-transform: uppercase;
}

.back:hover {
  font-weight: bold;
  cursor: pointer;
}

.historyTitle {
  color: #add8e6;
}

.history {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 10px;
  flex-direction: column;
  width: 100%;
}

.historyDiv {
  border: 1px solid #add8e6;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit {
  border: 1px solid #add8e6;
  height: 26px;
  color: #add8e6;
  background-color: #1f1f1f;
}

.edit:hover {
  background-color: #add8e6;
  border: 1px solid #1f1f1f;
  color: #1f1f1f;
  cursor: pointer;
}

.nameInfo {
  margin-top: 70px;
  color: #add8e6;
}

.inputEdit {
  border: none;
  background: transparent;
  border-bottom: 1px solid #add8e6;
  color: #add8e6;
}

.saveButton {
  border: 1px solid #add8e6;
  height: 26px;
  color: #add8e6;
  background-color: #1f1f1f;
}

.saveButton:hover {
  background-color: #add8e6;
  border: 1px solid #1f1f1f;
  color: #1f1f1f;
  cursor: pointer;
}

.historyText {
  color: #add8e6;
}

.remove {
  border: 1px solid #add8e6;
  height: 26px;
  color: #add8e6;
  background-color: #1f1f1f;
  margin-top: 20px;
}

.remove:hover {
  background-color: #add8e6;
  border: 1px solid #1f1f1f;
  color: #1f1f1f;
  cursor: pointer;
}

.restore {
  margin-left: 20px;
  height: 20px;
  width: 65px;
  border: 1px solid #add8e6;
  color: #add8e6;
  background-color: #1f1f1f;
}

.restore:hover {
  color: #1f1f1f;
  background-color: #add8e6;
  cursor: pointer;
}

.addNumber {
  border: 1px solid #add8e6;
  height: 26px;
  color: #add8e6;
  background-color: #1f1f1f;
  margin-bottom: 90px;
}

.addNewEmail {
  border: 1px solid #add8e6;
  height: 26px;
  color: #add8e6;
  background-color: #1f1f1f;
  margin-bottom: 20px;
}

.addNewEmail:hover {
  background-color: #add8e6;
  cursor: pointer;
  color: #1f1f1f;
}

.addNumber:hover {
  background-color: #add8e6;
  cursor: pointer;
  color: #1f1f1f;
}

.numberInfo {
  margin-top: 70px;
  color: #add8e6;
}

#emailEdit {
  margin-bottom: 50px;
}

.addNumberInput {
  border: none;
  background: transparent;
  border-bottom: 1px solid #add8e6;
  color: #add8e6;
  margin-bottom: 20px;
}

.addEmailInput {
  border: none;
  background: transparent;
  border-bottom: 1px solid #add8e6;
  color: #add8e6;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .wrapper {
    width: 100%;
  }  
  .title {
    font-size: 91px;
  }
  .nameLabel {
    font-size: 120px;
  }
  .nameInput {
    width: 82%;
    height: 68px;
    font-size: 59px;
  }
  .phoneLabel {
    font-size: 120px;
  }
  .phoneInput {
    width: 182%;
    height: 66px;
    font-size: 59px;
  }

  .emailLabel {
    font-size: 103px;
  }
  .add {
    width: 435px;
    height: 70px;
    font-size: 27px;
  }
  .holder {
    width: 80%;
  }
  .emailInput {
    width: 182%;
    height: 66px;
    font-size: 59px;
  }
  
  .emailHolder {
    width: 80%;
  }

  .addEmail {
    width: 435px;
    height: 70px;
    font-size: 27px;
  }

  .Button {
    width: 80%;
    font-size: 30px;
    height: 70px;
  }

  .li {
    width: 85%;
    height: 92px;
    text-align: center;
    font-size: 38px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contactInfo {
    width: 100%;
    font-size: 66px;
  }

  .user {
    width: 100%;
  }

  .adressText {
    font-size: 50px;
  }

  .name {
    font-size: 45px;
  }

  .edit {
    width: 71%;
    font-size: 30px;
    height: 64px;
  }

  .nameInfo {
    font-size: 45px;
  }

  .inputEdit {
    width: 69%;
    font-size: 45px;
  }

  .numberInfo {
    font-size: 45px;
  }

  .saveButton {
    width: 71%;
    font-size: 30px;
    height: 64px;
  }

  .addNumber {
    width: 71%;
    font-size: 30px;
    height: 64px;
    margin-bottom: 100px;
  }

  .remove {
    width: 71%;
    font-size: 30px;
    height: 64px;
  }

  .back {
    width: 100%;
    height: 79px;
    font-size: 39px;
  }

  .historyDiv {
    width: 100%;
  }

  .historyText {
    font-size: 30px;
  }

  .restore {
    width: 180px;
    height: 50px;
    font-size: 29px;
  }

  .addNumberInput {
    width: 71%;
    font-size: 35px; 
  }
  
  .addEmailInput{
    width: 71%;
    font-size: 35px;
  }

  .addNewEmail {
    width: 71%;
    font-size: 30px;
    height: 64px;
    margin-bottom: 100px;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1200px){
  .wrapper {
    width: 100%;
  }  
  .title {
    font-size: 91px;
  }
  .nameLabel {
    font-size: 120px;
  }
  .nameInput {
    width: 82%;
    height: 68px;
    font-size: 59px;
  }
  .phoneLabel {
    font-size: 120px;
  }
  .phoneInput {
    width: 182%;
    height: 66px;
    font-size: 59px;
  }

  .emailLabel {
    font-size: 103px;
  }
  .add {
    width: 435px;
    height: 70px;
    font-size: 27px;
  }
  .holder {
    width: 80%;
  }
  .emailInput {
    width: 182%;
    height: 66px;
    font-size: 59px;
  }
  
  .emailHolder {
    width: 80%;
  }

  .addEmail {
    width: 435px;
    height: 70px;
    font-size: 27px;
  }

  .addNumber {
    width: 71%;
    font-size: 30px;
    height: 64px;
    margin-bottom: 100px;
  }

  .addNewEmail {
    width: 71%;
    font-size: 30px;
    height: 64px;
    margin-bottom: 100px;
  }

  .numberInfo {
    font-size: 45px;
  }

  .Button {
    width: 80%;
    font-size: 30px;
    height: 70px;
  }

  .li {
    width: 85%;
    height: 92px;
    text-align: center;
    font-size: 38px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contactInfo {
    width: 100%;
    font-size: 66px;
  }

  .user {
    width: 100%;
  }

  .adressText {
    font-size: 50px;
  }

  .name {
    font-size: 45px;
  }

  .edit {
    width: 71%;
    font-size: 30px;
    height: 64px;
  }

  .nameInfo {
    font-size: 45px;
  }

  .inputEdit {
    width: 69%;
    font-size: 45px;
  }

  .saveButton {
    width: 71%;
    font-size: 30px;
    height: 64px;
  }

  .remove {
    width: 71%;
    font-size: 30px;
    height: 64px;
  }

  .back {
    width: 100%;
    height: 79px;
    font-size: 39px;
  }

  .historyDiv {
    width: 100%;
  }

  .historyText {
    font-size: 30px;
  }

  .restore {
    width: 180px;
    height: 50px;
    font-size: 29px;
  } 

  .addNumberInput {
    width: 71%;
    font-size: 35px; 
  }

  .addEmailInput {
    width: 71%;
    font-size: 35px; 
  }
} 